*.bin.gz
*.bin


Jupyter_notebooks/cache_dir/
Jupyter_notebooks/checkpoints/
Jupyter_notebooks/runs/
Jupyter_notebooks/outputs/
Jupyter_notebooks/wandb/

notebooks/cache_dir/
notebooks/checkpoints/
notebooks/runs/
notebooks/outputs/
notebooks/wandb/

.vscode/

wandb_config.json

data/
form_builder_data/
/home/rsaha/projects/similarity-engine/data/
data/records.parquet

rec_images_for_gform/

.gitignore

src/models/__pycache__/
src/utils/__pycache__/
*/.ipynb_checkpoints/

demos/__pycache__

*/.mypy


saved_models/
*/.mypy

saved_models/
src/models/compare_models.py
src/models/wandb/
wandb/
curriculum_learning/


Jupyter_notebooks/
scripts/

aws_credentials.json

secrets.json
temp.parquet